{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header" style="background-color:#E8DED1">About Us</h5>
            <div class="card-body">
                <p class="card-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et tincidunt eros. Pellentesque varius neque at purus aliquam, eu feugiat arcu egestas. Donec at leo tempor, pharetra nisl venenatis.</p>
                <a href="#" class="btn btn-danger" style="background-color:#A0816C;">Know more</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}